.todo-controls {
    width: 100%;
    button {
        background: none;
        color: inherit;
        border-color: inherit;

        &:first-child {
            border-radius: 5px 0 0 5px ;
        }
        
        &:last-child {
            border-radius: 0 5px 5px 0 ;
        }
    }
}