.progress {

    &__wrapper {
        height: 50px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 0 20px;
    }

    &__title {
        font-size: 10px;
    }

    &__indicator {
        &--circle {
            position: absolute;
            height: 100%;
            stroke-dasharray: 145;
            stroke-dashoffset: 145;
            transition: stroke-dashoffset .4s ease;
            stroke-width: 3;
            stroke: cyan;
            fill: transparent;
            transform: rotate(-90deg);
            box-shadow: 0 0 0 3px rgba(0, 255, 255, 0.4) inset;
            border-radius: 50%;

            circle {
                transition: stroke .4s ease;
            }
        }
    }
}