.todo-logo {
    margin-bottom: 20px;
    height: 70px;

    .cls-1 {
        stroke-dasharray: 480;


        &.animate-fill {
            animation: fill 2s forwards linear;
            stroke-dashoffset: 480;
            fill: transparent;
            stroke: #09d3ac;
            // stroke: var(--accent-color);

            @keyframes fill {
                100% {
                    stroke-dashoffset: 0;
                    fill: #09d3ac;
                    // fill: var(--accent-color);
                    stroke: transparent;
                }
            }
        }

        &.animate-unfill {
            animation: unfill 2s forwards linear;
            stroke-dashoffset: 0;
            fill: #09d3ac;
            // fill: var(--accent-color);
            stroke: transparent;

            @keyframes unfill {
                100% {
                    fill: transparent;
                    stroke: #09d3ac;
                    // stroke: var(--accent-color);
                    stroke-dashoffset: 480;


                }
            }
        }
    }



}